/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  font-family: Arial, sans-serif;
  margin: 36px auto;
  padding: 0;
  background-color: #ffffff;
}
 
.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form input[type="text"] {
  flex: 1;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.5;
  outline: none;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
}

.form input[type="text"]:hover {
  border: 1px solid #000;
}

.form input[type="text"]:focus {
  border: 1px solid #4e75ff;

}

.form button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form button:hover {
  background-color:#6c8cff;;
}

.loader {
  display: block;
  margin: 20px auto;
  width: 64px;
  height: 64px;
}

.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #4e75ff;
  border-color: #4e75ff transparent #4e75ff transparent;
  animation: dual-ring 1.2s linear infinite;
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0 156px;
}

.gallery-item {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 360px; 
  height: 156px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info p {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 12px 28px;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

.load-more-btn:hover {
  background-color: #3d56d1;
  transform: translateY(-2px);
}

.load-more-btn:active {
  transform: translateY(0);
}

.load-more-btn.hidden {
  display: none;
}